html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 1500px) {
  body {
    background-color: rgb(59, 58, 58);
    width: 100%;
  }
  ::-webkit-scrollbar {
    width: 10px;
    background: rgb(44, 44, 44);
  }
  ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }
  header {
    width: 100%;
    height: 110px;
    background-color: rgb(44, 44, 44);
    position: fixed;
    padding-right: 100px;
    z-index: 2;
  }
  .logo {
    width: 80px;
    height: 80px;
    vertical-align: top;
    background-color: rgb(44, 44, 44);
  }
  .mainpage {
    color: red;
  }
  .navigation {
    display: flex;
    gap: 20px;
  }
  nav input {
    margin-left: 200px;
    height: 50px;
    width: 300px;
    border: none;
    border-radius: 20px;
    background-color: rgb(59, 58, 58);
    transition: ease-in-out 0.5s;
    background-position: center;
  }
  nav input:focus {
    margin-left: 100px;
    height: 50px;
    width: 300px;
    outline: none;
    background-image: url("../images/search.png");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 10px center;
    padding: 10px 50px;
  }
  ul {
    display: flex;
    vertical-align: middle;
    gap: 40px;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 20px;
  }
  li {
    vertical-align: middle;
    margin-top: 27px;
  }
  li a:hover {
    border-bottom: 2px solid red;
    font-size: 30px;
    transition: ease-in-out 0.5s;
  }
  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: "Orbitron";
  }
  .section1 {
    padding-top: 120px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 10px;
  }
  .simage img {
    margin-left: 5px;
    width: 100%;
    height: 700px;
    margin-top: 90px;
    border-radius: 15px;
    border: 5px solid rgb(255, 0, 0);
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
  }
  .simage h1 {
    position: absolute;
    z-index: 1;
    margin-top: 70px;
    top: 100px;
    width: 90%;
    color: white;
    text-shadow: 10px 10px 20px rgb(3, 0, 0);
    font-size: 60px;
    text-align: center;
    font-family: "Orbitron";
  }
  .section2 {
    padding: 0px 70px;
    margin-top: 50px;
  }
  .s2div h1 {
    color: white;
    font-size: 50px;
    text-align: start;
    font-family: "Orbitron";
  }
  .section3 {
    padding: 0px 70px;
    margin-top: 50px;
  }
  .cards {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    justify-content: center;
  }
  .card1 {
    width: 350px;
    height: 420px;
    background-image: linear-gradient(to bottom, rgb(29, 29, 29), rgb(255, 115, 0));
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgb(0, 0, 0);
  }
  .card1 img {
    margin-top: 10px;
    margin-left: 18px;
    width: 90%;
    height: 250px;
  }
  .card1 h1 {
    color: rgb(255, 94, 0);
    font-size: 40px;
    text-align: center;
    font-family: "Orbitron";
  }
  .card1 h2 {
    color: rgb(189, 189, 189);
    font-size: 25px;
    font-family: "Orbitron";
    margin-top: 10px;
    padding-left: 15px;
    text-align: left;
  }
  .card1 h3 {
    color: rgb(255, 255, 255);
    margin-top: 5px;
    font-size: 20px;
    font-family: "Orbitron";
    padding-left: 15px;
    text-align: left;
    position: absolute;
  }
  .card2 {
    width: 500px;
    height: 420px;
    background-image: linear-gradient(to bottom, rgb(29, 29, 29), rgb(255, 115, 0));
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgb(0, 0, 0);
  }
  .card2 h1 {
    color: rgb(255, 94, 0);
    font-size: 42px;
    text-align: center;
    font-family: "Orbitron";
  }
  .card2 h2 {
    color: rgb(189, 189, 189);
    font-size: 25px;
    font-family: "Orbitron";
    margin-top: 10px;
    padding-left: 15px;
    text-align: left;
  }
  .card2 img {
    margin-top: 10px;
    margin-left: 24px;
    width: 90%;
    height: 250px;
  }
  .card3 {
    width: 350px;
    height: 420px;
    background-image: linear-gradient(to bottom, rgb(29, 29, 29), rgb(0, 238, 255));
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgb(0, 0, 0);
  }
  .card3 img {
    margin-top: 10px;
    margin-left: 18px;
    width: 90%;
    height: 260px;
  }
  .card3 h1 {
    color: rgb(0, 255, 221);
    font-size: 40px;
    text-align: center;
    font-family: "Orbitron";
  }
  .card3 h2 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: "Orbitron";
    margin-top: 5px;
    padding-left: 15px;
    text-align: left;
  }
  .card3 h3 {
    color: rgb(255, 255, 255);
    margin-top: 5px;
    font-size: 20px;
    font-family: "Orbitron";
    padding-left: 15px;
    text-align: left;
    position: absolute;
  }
  .section4 {
    padding: 0px 70px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .s4div h1 {
    color: white;
    font-size: 50px;
    text-align: start;
    font-family: "Orbitron";
  }
  .Grid img {
    margin-top: 30px;
    width: 100%;
    border-radius: 15px;
    border: 4px solid rgb(4, 52, 83);
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
  }
  .section5 {
    padding: 70px;
  }
  .ptitle h1 {
    color: white;
    font-size: 50px;
    text-align: start;
    font-family: "Orbitron";
  }
  .pictures {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .apictures {
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
  }
  .picture1 {
    width: 400px;
    height: 220px;
  }
  .picture4 {
    width: 380px;
    height: 220px;
  }
  .picture5 {
    width: 380px;
    height: 220px;
  }
  .footer {
    background-color: rgb(29, 28, 28);
    margin-top: 20px;
    height: 250px;
    width: 100%;
    padding: 20px 30px;
  }
  .fdiv {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .fdiv img {
    width: 80px;
    height: 80px;
    vertical-align: top;
    background-color: rgb(29, 28, 28);
  }
  .fdiv h1 {
    color: white;
    font-size: 25px;
    font-family: "Orbitron";
  }
  .contact {
    color: white;
    font-size: 20px;
    font-family: "Orbitron";
  }
  .contact a {
    text-decoration: none;
    font-size: 20px;
    color: white;
  }
  .edu {
    margin: 0 0px;
  }
  .edu img {
    margin-top: 20px;
    width: 70px;
    height: 70px;
  }
  .about {
    padding-top: 120px;
    padding-left: 70px;
    padding-right: 70px;
  }
  .about1 {
    margin-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
  }
  .aboutdiv h1 {
    color: white;
    font-size: 50px;
    text-align: start;
    font-family: "Orbitron";
  }
  .aboutdiv p {
    color: rgb(211, 210, 210);
    padding-left: 10px;
    height: 80px;
    font-size: 20px;
    text-align: start;
    font-family: "Orbitron";
    margin-top: 20px;
    line-height: 1.6;
    border: solid 2px rgb(255, 0, 0);
  }
  .aboutdiv1 h1 {
    color: rgb(255, 0, 0);
    font-size: 50px;
    text-align: start;
    font-family: "Orbitron";
  }
  .aboutdiv1 p {
    color: rgb(211, 210, 210);
    padding-left: 10px;
    height: 40px;
    font-size: 20px;
    text-align: start;
    font-family: "Orbitron";
    margin-top: 20px;
    line-height: 1.6;
    border: solid 2px rgb(255, 0, 0);
  }
  .drivers {
    padding-top: 120px;
    padding-left: 70px;
    padding-right: 70px;
  }
  .drivers h1 {
    color: white;
    font-size: 50px;
    text-align: start;
    font-family: "Orbitron";
  }
  .drivercards {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .drivercards h1 {
    color: white;
    font-size: 25px;
    text-align: center;
    font-family: "Orbitron";
    margin-top: 10px;
  }
  .drivercards h2 {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: "Orbitron";
    margin-top: 5px;
  }
  .drivercards img {
    margin-left: 13px;
    margin-top: 10px;
    width: 90%;
    height: 200px;
  }
  .d-redbull {
    width: 250px;
    height: 300px;
    background-color: rgb(0, 0, 85);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
  }
  .d-ferrari {
    width: 250px;
    height: 300px;
    background-color: rgb(236, 1, 1);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
  }
  .d-mclaren {
    width: 250px;
    height: 300px;
    background-color: rgb(255, 102, 0);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
  }
  .d-mercedes {
    width: 250px;
    height: 300px;
    background-color: rgb(0, 214, 125);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
  }
  .d-astonmartin {
    width: 250px;
    height: 300px;
    background-color: rgb(12, 66, 1);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
  }
  .d-alpine {
    width: 250px;
    height: 300px;
    background-color: rgb(1, 124, 146);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
  }
  .d-haas {
    width: 250px;
    height: 300px;
    background-color: rgb(170, 27, 2);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
  }
  .d-raceingbulls {
    width: 250px;
    height: 300px;
    background-color: rgb(1, 1, 167);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
  }
  .d-williams {
    width: 250px;
    height: 300px;
    background-color: rgb(0, 173, 226);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
  }
  .d-audi {
    width: 250px;
    height: 300px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
  }
  .d-cadillac {
    width: 250px;
    height: 300px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
  }
  .legend {
    width: 250px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
  }
  .worldchampion {
    width: 250px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
  }
  .nickname {
    width: 250px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
  }
  .teams-section {
    padding-top: 120px;
    padding-left: 70px;
    padding-right: 70px;
  }
  .teams-section h1 {
    color: white;
    font-size: 50px;
    text-align: left;
    font-family: "Orbitron";
    margin-top: 10px;
  }
  .currentteamscards {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .team-text h1 {
    color: white;
    font-size: 36px;
    text-align: center;
    font-family: "Orbitron";
    margin-top: 10px;
    width: 250px;
  }
  .team-text h2 {
    color: white;
    font-size: 36px;
    text-align: center;
    font-family: "Orbitron";
    margin-top: 10px;
    width: 600px;
  }
  .team-text h3 {
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: "Orbitron";
    margin-top: 10px;
  }
  .team-text p {
    color: rgb(211, 210, 210);
    padding-left: 10px;
    font-size: 20px;
    text-align: center;
    font-family: "Orbitron";
    margin-top: 100px;
    line-height: 1.6;
  }
  .team-text img {
    margin-left: 13px;
    margin-top: 10px;
    width: 90%;
    height: 250px;
  }
  .drivers-team {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
  }
  .t-redbull {
    width: 100%;
    height: 400px;
    padding: 0 10px;
    background-color: rgb(48, 47, 47);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(0, 81, 255);
    display: flex;
  }
  .t-ferrari {
    width: 100%;
    height: 400px;
    padding: 0 10px;
    background-color: rgb(48, 47, 47);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(255, 0, 0);
    display: flex;
  }
  .t-mclaren {
    width: 100%;
    height: 400px;
    padding: 0 10px;
    background-color: rgb(48, 47, 47);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(255, 102, 0);
    display: flex;
  }
  .t-mercedes {
    width: 100%;
    height: 400px;
    padding: 0 10px;
    background-color: rgb(48, 47, 47);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(0, 255, 191);
    display: flex;
  }
  .t-astonmartin {
    width: 100%;
    height: 400px;
    padding: 0 10px;
    background-color: rgb(48, 47, 47);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(0, 255, 55);
    display: flex;
  }
  .t-alpine {
    width: 100%;
    height: 400px;
    padding: 0 10px;
    background-color: rgb(48, 47, 47);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(0, 153, 204);
    display: flex;
  }
  .t-haas {
    width: 100%;
    height: 400px;
    padding: 0 10px;
    background-color: rgb(48, 47, 47);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(155, 0, 0);
    display: flex;
  }
  .t-racing-bulls {
    width: 100%;
    height: 400px;
    padding: 0 10px;
    background-color: rgb(48, 47, 47);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(0, 0, 204);
    display: flex;
  }
  .t-williams {
    width: 100%;
    height: 400px;
    padding: 0 10px;
    background-color: rgb(48, 47, 47);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(0, 153, 255);
    display: flex;
  }
  .t-audi {
    width: 100%;
    height: 400px;
    padding: 0 10px;
    background-color: rgb(48, 47, 47);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(204, 204, 204);
    display: flex;
  }
  .t-cadillac {
    width: 100%;
    height: 400px;
    padding: 0 10px;
    background-color: rgb(48, 47, 47);
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(156, 156, 156);
    display: flex;
  }
  .cchampionship {
    padding: 0px 70px;
    margin-top: 200px;
    margin-bottom: 50px;
  }
  .cchampionship h1 {
    color: white;
    font-size: 50px;
    text-align: left;
    font-family: "Orbitron";
    margin-top: 10px;
  }
  .c-top3 {
    margin-top: 90px;
    display: flex;
    gap: 20px;
    justify-content: center;
  }
  .c-top3 h2 {
    color: white;
    width: 100%;
    font-size: 36px;
    text-align: center;
    font-family: "Orbitron";
    margin-top: 10px;
  }
  .c-top3 h3 {
    color: white;
    font-size: 20px;
    text-align: left;
    font-family: "Orbitron";
    margin-top: 10px;
    margin-left: 10px;
  }
  .c-top3 h4 {
    color: white;
    width: 100%;
    font-size: 20px;
    text-align: center;
    font-family: "Orbitron";
    margin-top: 5px;
  }
  .c-top3 img {
    margin-left: 13px;
    margin-top: 10px;
    width: 90%;
    height: 250px;
  }
  .c-mclaren {
    width: 300px;
    height: 370px;
    background-image: linear-gradient(to top, rgb(29, 29, 29), rgb(255, 115, 0));
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
    margin-top: 50px;
  }
  .c-ferrari {
    width: 300px;
    height: 370px;
    background-image: linear-gradient(to top, rgb(29, 29, 29), rgb(255, 0, 0));
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
  }
  .c-williams {
    width: 300px;
    height: 370px;
    background-image: linear-gradient(to top, rgb(29, 29, 29), rgb(0, 183, 255));
    border-radius: 10px;
    box-shadow: 10px 10px 30px rgb(0, 0, 0);
    margin-top: 30px;
  }
}/*# sourceMappingURL=styles.css.map */